.small-red-circle {
    background-color: #ff2344;
    margin: 2% 5px 2% 0;
    width: 3%;
    height: 0.5rem;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    /* float: left; */
}

.footer-class, .header-class {
    color: #131313;
    background-color: #d3d3d3;
    cursor: not-allowed;
    text-align: center;
    font-weight: 400;
}

.state-card--simple > div {
    width: 60%;
    height: 100%;
    display: inline-block;
}

.state-card--simple {
    float: left;
    width: 100%;
}

.display-value--main {
    font-weight: 600;
}
.display-value--sub {
    font-weight: 400;
    color: #272727;
}